<body>
    <div class="contenedorBotonPDF">
        <img src="assets/pdfIcon.png" class="iconos" (click)="descargarPDFEstadisticas()">
        <img src="assets/excelIcon.png" class="iconos" (click)="descargarExcelLogeos()">
    </div>
    <div class="contenedorCantEspecialidades" >
        <h2 class="titulo">Turnos pedidos por cada especialidad</h2>
        <div appColores *ngFor="let especialidad of listaEspecialidades" class="especialidadesCirculos" >
            <label class="textoEspecialista">{{especialidad.nombre}}</label><br>
            <label class="textoNumero">{{especialidad.cantidadTurnos}} Turnos</label>
        </div>
    </div>
    <div  id="divChart" class="contenedorGraficos">
        <h2 class="titulo">Turnos pedidos por Semana</h2>
        <canvas id="turnosChart" ></canvas>
    </div>
    <div class="contenedorCantDia">
        <h2 class="titulo">Turnos por Día</h2>
        <div appColores class="especialidadesCirculos" >
            <label class="textoNumeroDia">{{turnosPorDia}} x Día</label>
        </div>
    </div>
    <div class="contenedorLogeos">
        <h2 class="titulo">Registro de Logeos</h2>
        <table class="tablaLogeos">
            <thead class="tablaHead">
                <tr>
                    <th>Usuario</th>
                    <th>Email</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Tipo de Usuario</th>
                </tr>
            </thead>
     
            <tbody class="tCuerpo" *ngFor="let logeo of listaLogeos" >
                <tr>
                    <td appBoldFont>{{logeo.usuario}}</td>
                    <td>{{logeo.email}}</td>
                    <td>{{logeo.fecha | date:'dd/MM/YY'}}</td>
                    <td>{{logeo.horario}}</td>
                    <td [appColorTipoUsuario]="logeo.tipoUsuario" appBoldFont>{{logeo.tipoUsuario | titlecase}}</td>
                </tr>  
            </tbody>
        </table>
    </div>
</body>

