h1{
    text-align: center;
    padding: 30px 10px;
}

.form{
    padding: 10px 10px;
}

label{
    text-align: left;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}

select
{
    width: 120px;
    padding: 6px 10px;
    margin: 1px 1px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;

}

.botonAgregarEspecialidad{
    background-color: rgb(105, 105, 105);
    position: relative;
    bottom:50%;
    left:10%;
    width: 80px;
    height: auto;
}

.botonQuitarEspecialidad{
    background-color: rgb(105, 105, 105);
    position: relative;
    bottom:20%;
    right: 9.5%;
    width: 80px;
    height: auto;
}

.invalid
{
    color: red;
    left:40%;
}

.btnAceptar{
    padding:10px 10px;
    background-color: green;
    position: relative;
    width: 150px;
    height: auto;
    left:32%;
}



#inputFile{
    display:none;
}

.labelInputFile{
    position: relative;
    width:4rem;
    height: 4rem;
    background-color: lightblue;
    border-radius: 100%;
    padding: 1rem;
    box-shadow: 0 0 10px -1px rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    user-select: none;
}

.labelInputFile img{
    width:3rem;
    height: 3rem;
}

.labelInputFile:active{
    transform: scale(0.9);
}

.cambiarFoto{
    position: relative;
    top:25%;
    display: flex;
    justify-content: center;
}

.mostradorDeImagen{
    width:128px;
	height:128px;
	position: relative;
	overflow: hidden;
	border-radius:10%;
	background-color: rgb(66, 146, 100);
    left:35%;
    top:10%;
}

.muestraImagen{
    position: relative;
    top:7%;
  	width:100%;
  	height:auto;
}

.textoInfo{
    color:white;
    position: relative;
    padding: 10px 10px;
    margin-top:2%;
    font-weight: 700;
}

.gifCargando{
    position: absolute;
    top:30%;
    left:30%;
}

.contenedorImagenes{
    width: 400px;
    height: 300px;
    background-color: rgb(136, 91, 145);
    position: absolute;
    left:66%;
    top:12.8%;
    border-radius: 4%;
}