<body>
    <div class="logoContenedor">
        <p class="tituloUTN">Clinica UTN</p>
    </div>
    <div class="contenedor">
        <p class="titulo1">Nos preocupamos por su salud.</p>
        <p class="titulo2">Nos preocupamos por usted.</p>
        <label class="info">Aqui en nuestra clinica, contamos con la mas avanzada tecnologia en salud, el mejor servicio y una atencion rapida y personalizada.</label>
        <label class="info">Solicite turnos con los mejores medicos!</label>
    </div>
    <div class="contenedorImagen">
        <img src="./assets/doctor.png" class="imagen">
    </div> 
</body> 

