<h1 clasS="titulo">Mis turnos:</h1>
    <div class="contenedor">
        <table class="tablaTurnos">
            <thead class="tablaHead">
                <tr>
                    <th>Especialidad</th>
                    <th>Especialista</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody class="tCuerpo" *ngFor="let turno of listaTurnosUsuarioActual">
                <tr>
                    <td>{{turno.especialidad}}</td>
                    <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
                    <td>{{turno.dia | date:'dd/MM'}}</td>
                    <td>{{turno.horario}}</td>  
                    <td>{{turno.estado | uppercase}} </td>  
                    <td *ngIf="turno.comentarioEspecialista!==''"><button class="botonVerReseña" (click)="verComentarioEspecialista(turno)">Ver Reseña</button></td>
                    <td *ngIf="turno.comentarioEspecialista==='' && turno.estado !== 'cancelado'">Sin reseña</td>
                    <td *ngIf="turno.estado==='cancelado'"> </td>
                    <td *ngIf="turno.estado==='cancelado'">Sin acciones disponibles</td>
                    <td *ngIf="turno.estado==='cancelado'"> </td>
                    <td *ngIf="turno.estado==='realizado' && turno.comentario!==''">
                        <button class="botonCalificar" (click)="abrirVentanaComentario('calificar',turno)">Calificar Atención</button>
                    </td>
                    <td *ngIf="turno.estado==='no realizado'">No puede calificar</td>
                    <td *ngIf="turno.estado==='no realizado'">
                        <button class="botonCancelarTurno" (click)="abrirVentanaComentario('cancelar',turno)">Cancelar turno</button>
                    </td>
                    <td *ngIf="turno.estado==='realizado' && turno.comentarioEspecialista!==''">
                        <button class="botonEncuesta">Encuesta</button>
                    </td>
                </tr>  
            </tbody>
        </table>
        <div class="contenedorComentarioEspecialista" *ngIf="mostrarComentarioEspecialista">
            <button class="botonCerrar" (click)="cerrarComentarioEspecialista()">X</button>
            <h3>Comentario del Especialista:</h3>
            <textarea type="text" class="comentarioText" disabled>{{turnoElegido.comentarioEspecialista}}</textarea>
        </div>
        <div class="contenedorComentarioPaciente" *ngIf="ventanaComentario">
            <button class="botonCerrar" (click)="cerrarVentanaComentario()">X</button>
            <h3 *ngIf="accionElegida=='cancelar'" class="tituloContenedor">Cancelar Turno:</h3>
            <h3 *ngIf="accionElegida=='calificar'" class="tituloContenedor">Calificar</h3>
            <label class="textoInfoCancelacion">Especialidad: {{turnoElegido.especialidad}}</label><br>
            <label class="textoInfoCancelacion">Especialista: {{turnoElegido.especialista.nombre}} {{turnoElegido.especialista.apellido}}</label><br>
            <label class="textoInfoCancelacion">Día: {{turnoElegido.dia | date:'dd/MM'}}</label><br>
            <label class="textoInfoCancelacion">Hora: {{turnoElegido.horario}}</label><br>
            <div class="rating"> 
                <input type="radio" name="rating" value="5" id="5" (change)="obtenerValoracion($event.target)"><label for="5">☆</label> 
                <input type="radio" name="rating" value="4" id="4" (change)="obtenerValoracion($event.target)"><label for="4">☆</label> 
                <input type="radio" name="rating" value="3" id="3" (change)="obtenerValoracion($event.target)"><label for="3">☆</label> 
                <input type="radio" name="rating" value="2" id="2" (change)="obtenerValoracion($event.target)"><label for="2">☆</label> 
                <input type="radio" name="rating" value="1" id="1" (change)="obtenerValoracion($event.target)"><label for="1">☆</label>
            </div>
            <textarea type="text" class="comentarioText" 
            placeholder="Deje un comentario..." [(ngModel)]="comentarioDePaciente">{{turnoElegido.comentarioEspecialista}}</textarea><br>
            <button *ngIf="accionElegida==='cancelar'" class="botonConfirmacionCancelarTurno" (click)="cancelarTurno()">Cancelar Turno</button>
            <button *ngIf="accionElegida==='calificar'" class="botonConfirmacionValorar" (click)="calificarTurno()">Enviar</button>
            <div *ngIf="errorComentario" class="errorComentario">
                <label>Debe ingresar un comentario</label>
                <button (click)="cerrarVentanaError()" class="botonOk">Ok</button>
            </div>
        </div>
    </div>
    
