<header class="p-3 bg-primary text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a routerLink="bienvenido" class="me-3">
          <img src="./assets/favicon_io/android-chrome-512x512.png" style="height: 40px;"/>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a routerLink="bienvenido" class="nav-link px-2 text-white">Inicio</a></li>
          <li><a routerLink="misTurnos" class="nav-link px-2 text-white" *ngIf="isPaciente || isEspecialista">Mis Turnos</a></li>
          <li><a routerLink="misTurnos" class="nav-link px-2 text-white" *ngIf="isAdmin">Panel de Turnos</a></li>
          <li><a routerLink="solicitarTurno" class="nav-link px-2 text-white" *ngIf="isPaciente || isAdmin">Nuevo Turno</a></li>
        </ul>
        <a *ngIf="userState|async as user;else login_buttons">
          <label class="nombreUsuario me-1">{{userInfo.nombre}}</label>
          <img style="border-radius: 100%;" src="{{userInfo.imagen1}}"
            width="40" height="40" class="d-inline-block align-top me-2" alt="">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <label>Opciones</label>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="panelUsuario" *ngIf="isPaciente || isEspecialista">Perfil</a>
              <a *ngIf="isPaciente" class="dropdown-item" routerLink="solicitarTurno">Nuevo Turno</a>
              <a *ngIf="isAdmin" class="dropdown-item" routerLink="usuarios">Ver Usuarios</a>
              <a *ngIf="isAdmin" class="dropdown-item" routerLink="estadisticas">Estadisticas</a>
            </div>
          </div>
          <button class="btn btn-warning me-2" (click)="logout()">Logout</button> 
        </a>
        <ng-template #login_buttons class="text-end">
          <button routerLink="login" class="btn btn-outline-light me-2">Login</button>
          <button routerLink="registro"  class="btn btn-danger">Sign-up</button>
        </ng-template>      
      </div>
    </div>
  </header>
