<body>
    <div class="contenedorGeneral">
        <img src="assets/excelIcon.png" class="iconoExcel" (click)="descargarExcel()">
        <h3 class="titulo">Lista de Pacientes</h3>
        <table class="tablaPacientes">
            <thead class="tablaHead">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    <th>Obra Social</th>
                    <th>Imagenes</th>
                </tr>
            </thead>
            <tbody class="tCuerpo" *ngFor="let paciente of listaPacientes">
                <tr>
                    <td>{{paciente.nombre}}</td>
                    <td>{{paciente.apellido}}</td>
                    <td>{{paciente.email}}</td>
                    <td>{{paciente.dni}}</td>
                    <td>{{paciente.edad}}</td>
                    <td>{{paciente.obraSocial}}</td>
                    <td><img src="{{paciente.imagen1}}" class="imagen me-2"> <img src="{{paciente.imagen2}}" class="imagen"></td>
                </tr>  
            </tbody>
        </table>
        <h3 class="titulo2">Lista de Especialistas</h3>
        <table class="tablaEspecialistas">
            <thead class="tablaHead">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>DNI</th>
                    <th>Edad</th>
                    <th>Especialidades</th>
                    <th>Imagen</th>
                    <th>Acceso</th>
                </tr>
            </thead>
            <tbody class="tCuerpo" *ngFor="let especialista of listaEspecialistas">
                <tr>
                    <td>{{especialista.nombre}}</td>
                    <td>{{especialista.apellido}}</td>
                    <td>{{especialista.email}}</td>
                    <td>{{especialista.dni}}</td>
                    <td>{{especialista.edad}}</td>
                    <td>{{especialista.especialidades}}</td>
                    <td><img src="{{especialista.imagen1}}" class="imagen"></td>
                    <td><button (click)="cambiarAcceso(especialista)" class="botonAcceso">{{especialista.acceso}}</button></td>
                </tr>  
            </tbody>
        </table> 
    </div>
</body>
