body 
{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    height: auto;
    overflow: hidden; 
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.titulo{
    position: absolute;
    top:10%;
}

.contenedor{
    position: absolute;
    background-color: rgb(120, 120, 201);
    width: calc(90%);
    height: auto;
    min-height: 730px;
    text-align: center;
    border-color: rgb(179, 74, 74);
    border-width: 5px;
    border-style: outset;
    top:18%;
}

.tablaTurnos
{
    position: relative;
    border-collapse: collapse;
    border-radius: 18px;
    table-layout:fixed;
    width:50%;
    margin:5%;
    table-layout: auto;
    left:20%;
}

th
{
    background-color: rgba(0, 0, 0, 0.959);
    color: white;
    
}

th, td
{
    text-align: center;
    padding: 10px 5px;    
    width: auto;
}

td{
    border-bottom-width: 1px;
    border-style: solid;
    border-color: black;
    white-space: nowrap;
}

tbody{
    
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: black;
    border-style: solid;
}

th{
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(167, 0, 0);
}

tbody tr:nth-child(odd){
    background-color: #9fb5db;
    color: rgb(0, 0, 0);
}

tbody{
    background-color: rgb(233, 233, 233);
    border-radius: 80%;
}

.botonEncuesta{
    position: relative;
    border-style: outset;
    border-width: 1px;
    border-color: black;
    border-radius: 10px;
    background-color: rgb(89, 89, 179);
    width: 120px;
    font-size: 15px;
}

.botonCalificar{
    position: relative;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(155, 140, 53);
    font-size: 15px;
    padding: 1px;
    white-space: nowrap;
    text-align: center;
}

.botonVerReseña{
    position: relative;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(122, 190, 44);
    font-size: 15px;
    width: 120px;
}

.botonCancelarTurno{
    position: relative;
    border-style: outset;
    border-width: 1px;
    border-color: rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(190, 54, 44);
    font-size: 15px;
    width: 120px;
}

.botonCancelarTurno:hover{
    border-color: rgb(105, 105, 105);
    background-color: rgb(202, 114, 108);
}

.botonEncuesta:hover{
    border-color: rgb(105, 105, 105);;
    background-color: rgb(133, 133, 207);
}

.botonCalificar:hover{
    border-color: rgb(105, 105, 105);
    background-color: rgb(199, 184, 101);
}

.botonVerReseña:hover{
    border-color: rgb(105, 105, 105);
    background-color: rgb(177, 221, 127);
}
