<body>
    <h1 clasS="titulo">Mis turnos:</h1>
    <div class="contenedor">
        
        <table class="tablaTurnos">
            <thead class="tablaHead">
                <tr>
                    <th>Especialidad</th>
                    <th>Especialista</th>
                    <th>Dia</th>
                    <th>Hora</th>
                    <th>Estado</th>
                    <th colspan="3">Acciones</th>
                </tr>
            </thead>
            <tbody class="tCuerpo" *ngFor="let turno of listaTurnosUsuarioActual">
                <tr>
                    <td>{{turno.especialidad}}</td>
                    <td>{{turno.especialista.nombre}} {{turno.especialista.apellido}}</td>
                    <td>{{turno.dia | date:'dd/MM'}}</td>
                    <td>{{turno.horario}}</td>  
                    <td>{{turno.estado | uppercase}} </td>  
                    <td *ngIf="turno.comentario!==''"><button class="botonVerReseña">Ver Reseña</button></td>
                    <td *ngIf="turno.comentario===''">Sin reseña</td>
                    <td *ngIf="turno.estado==='realizado' && turno.comentario!==''">
                        <button class="botonCalificar">Calificar Atención</button>
                    </td>
                    <td *ngIf="turno.estado==='no realizado'">No puede calificar</td>
                    <td *ngIf="turno.estado==='no realizado'">
                        <button class="botonCancelarTurno">Cancelar turno</button>
                    </td>
                    <td *ngIf="turno.estado==='realizado' && turno.comentario!==''">
                        <button class="botonEncuesta">Encuesta</button>
                    </td>
                </tr>  
            </tbody>
        </table>
    </div>
</body>
