<body>
  
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">Please enter your email and password!</p>
                <form [formGroup]="formIngreso" (ngSubmit)="ingresar()">
                  <div class="group">
                    <label for="emailRegistrarse" class="label">Email</label>
                    <input type="text" class="input" id="emailRegistrarse" placeholder="Ingrese Email" formControlName="email">
                    <small class="invalid" 
                    *ngIf="formIngreso.controls['email'].errors?.['required'] && formIngreso.controls['email'].touched">
                    El email es requerido
                    </small>
                    <small class="invalid" 
                    *ngIf="formIngreso.controls['email'].errors?.['email'] &&
                    formIngreso.controls['email'].touched">
                    El email no tiene el formato correcto
                    </small>
                  </div>
                  <div class="group">
                    <label for="passRegistrarse" class="label">Contraseña</label>
                    <input type="password" class="input" id="passRegistrarse" placeholder="Ingrese Contraseña" formControlName="password">
                    <small class="invalid" 
                    *ngIf="formIngreso.controls['password'].errors?.['required'] && formIngreso.controls['password'].touched">
                    El password es requerido
                    </small>
                  </div><br><br>
                  <div class="group">
                    <input type="submit" class="btnIngresar" value="Ingresar" [disabled]="formIngreso.invalid">
                  </div>
                  </form>
                  <div *ngIf="mailSinVerificar"class="error">
                    <p class="textoPopUp">El mail no esta verificado</p>
                    <button class="btnAceptar" (click)="aceptarPopUp()">Aceptar</button>
                  </div>
                  <div *ngIf="especialistaSinAcceso"class="error">
                    <p class="textoPopUp">Esta cuenta no tiene acceso</p>
                    <button class="btnAceptar" (click)="aceptarPopUp()">Aceptar</button>
                  </div>
                  <div *ngIf="mostrarError"class="error">
                    <p class="textoPopUp">{{textoError}}</p>
                    <button class="btnAceptar" (click)="aceptarPopUp()">Aceptar</button>
                  </div>
                  <br><br><div>
                    <p class="mb-0">No tienes cuenta aun? <a routerLink="registro" class="text-white-50 fw-bold">Registrate</a>
                    </p>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button (click)="EntrarConAdmin()" class="btnAdmin">Admin</button>
    <button (click)="EntrarConPaciente1()" class="btnPaciente1">Paciente 1</button>
    <button (click)="EntrarConPaciente2()" class="btnPaciente2">Paciente 2</button>
    <button (click)="EntrarConPaciente3()" class="btnPaciente3">Paciente 3</button>
    <button (click)="EntrarConEspecialista1()" class="btnEspecialista1">Especialista 1</button>
    <button (click)="EntrarConEspecialista2()" class="btnEspecialista2">Especialista 2</button>
</body>