body 
{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    text-align: center;
    padding: 30px 10px;
}

.form{
    padding: 10px 10px;
}

label{
    text-align: left;
}

input[type=text], input[type=password]
{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0px;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}

.invalid
{
    color: red;
}

.captcha{
    position: relative;
    margin-bottom:5%;
    left:0%;
}

.btnIngresar{
    padding:10px 10px;
    background-color: green;
    position: relative;
    width: 150px;
    height: auto;
}

.error{
    
    width: 200px;
    height: 150px;
    color: white;
    background-color: rgb(53, 53, 53);
    position: absolute;
    top:35%;
    left:30%;
    border-width: 2px;
    border-color: red;
    border-style: groove;
}

.textoPopUp{
    padding: 8px 8px;
    font-size: 20px;
}

.btnAceptar{
    position: relative;
    top:-8%;
    padding:10px 10px;
    background-color: rgb(167, 68, 54);
    position: relative;
    width: 150px;
    height: auto;
}

.btnAdmin{
    position:absolute;
    top:10%;
    right:15%;
    background-color: red;
    color: white;
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}

.btnPaciente1{
    position:absolute;
    top:16%;
    right:15%;
    background-color: rgb(87, 136, 75);
    color: rgb(0, 0, 0);
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}

.btnPaciente2{
    position:absolute;
    top:22%;
    right:15%;
    background-color: rgb(87, 136, 75);
    color: rgb(0, 0, 0);
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}

.btnPaciente3{
    position:absolute;
    top:28%;
    right:15%;
    background-color: rgb(87, 136, 75);
    color: rgb(0, 0, 0);
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}

.btnEspecialista1{
    position:absolute;
    top:34%;
    right:15%;
    background-color: rgb(87, 110, 189);
    color: rgb(255, 255, 255);
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}

.btnEspecialista2{
    position:absolute;
    top:40%;
    right:15%;
    background-color: rgb(87, 110, 189);
    color: rgb(255, 255, 255);
    border-color: white;
    width: 110px;
    height: 50px;
    border-radius: 50px;
}





