.contenedor{
    text-align: center;
}

.texto{
    position: relative;
    font-size: 40px;
    margin-top:10%;
}
.gifCargando{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top: 1%;
}