body 
{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
    background-image: url('src\assets\background.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

.seleccionar{
    position:absolute;
    left:20%;
    top:13.5%;
    height: 10%;
    width: 10%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid;
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

.btnPaciente{
    position: absolute;
    left:15%;
    top:30%;
    background-image: url('src/assets/iconos-registro/paciente.png');
    background-size:cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 8px;
    border-color: rgb(40, 163, 194);
    border-style:outset;
    background-color: rgb(168, 127, 127);
    font-weight: 800;
    justify-content: center; 
    align-items: center;  
}

.btnEspecialista{
    position: absolute;
    left:15%;
    top:60%;
    background-image: url('src/assets/iconos-registro/especialista.png');
    background-size:cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border-width: 8px;
    border-color: rgb(4, 45, 133);
    border-style:outset;
    background-color: rgb(168, 127, 127);
    font-weight: 800;
    justify-content: center; 
    align-items: center;  
}

.btnEspecialista:hover, .btnPaciente:hover{
    background-color: rgb(17, 160, 53);
    transform: scale(1.1);
}


