@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap');

body{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    overflow: hidden; 
}

.container{
    position: absolute;
    background-color: rgba(23, 96, 138, 0.842);
    width: 600px;
    height: 800px;
    top:10%;
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-style:ridge;
}

.infoBox{
    position: relative;
    top:12%;
    right:22%;
    text-align:center;
}

.datosUsuario{
    position: relative;
    display: block;
    left:47%;
    bottom: 27%;
}

.infoUsuario{
    color:rgb(0, 0, 0);
    text-align: center;
    position: relative;
    border-width: 4px;
    border-style:outset;
    width: 45%;
    border-color: rgb(158, 53, 53);
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Source Sans Pro', sans-serif;
}

.textoInfo{
    color:white;
    position: relative;
    padding: 10px 10px;
    font-weight: 700;
    font-family: 'Source Sans Pro', sans-serif;
    margin-top: 20px;
}
.textoCambiarFoto{
    color:white;
    position: relative;
    padding: 10px 10px;
    text-align: center;
    font-weight: 700;
    margin-top:2%;
    font-family: 'Source Sans Pro', sans-serif;
}

.mostradorDeImagen{
    width:128px;
	height:128px;
	position: relative;
	overflow: hidden;
	border-radius:50%;
	background-color: rgb(255, 255, 255);
	border: 5px solid white;
    left:39%;
    top:8%;
}
.muestraImagen{
    position: relative;
    top:0%;
    right: 15%;
  	width:150px;
  	height:auto;
}

.botonCambioFoto{
    position: absolute;
    left:33.5%;
    top:30%;
    background-color: rgb(0, 0, 0);
    border-style: groove;
    border-width: 3px;
    border-color: rgb(153, 60, 60);
    color: white;
}

.botonCambioFoto:hover{
    background-color: rgb(0, 0, 0);
    border-style: groove;
    border-width: 3px;
    border-color: rgb(83, 151, 100);
}

#inputFile{
    display:none;
}

.labelInputFile{
    position: relative;
    width:4rem;
    height: 4rem;
    background-color: lightblue;
    border-radius: 100%;
    padding: 1rem;
    box-shadow: 0 0 10px -1px rgb(61, 61, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    user-select: none;
    margin-bottom: 10px;
}

.labelInputFile img{
    width:3rem;
    height: 3rem;
}

.labelInputFile:active{
    transform: scale(0.9);
}

.cambiarFoto{
    position: relative;
    top:10%;
    display: flex;
    justify-content: center;
}

.botonGuardar{
    position: absolute;
    background-color: rgb(121, 21, 21);
    border-radius: 5%;
    border-style: none;
    color:white;
    top:90%;
    left:38%;
    width: 150px;
    height: 40px;
    text-align: center;
}

.botonGuardar:hover{
    border-width: 2px;
    border-style:solid;
    border-color: rgb(187, 171, 29);
}

.cuadroEspecialidades{
    width: 150px;
    height: auto;
    color:rgb(0, 0, 0);
    text-align: center;
    position: relative;
    border-width: 4px;
    border-style:outset;
    width: 45%;
    border-color: rgb(158, 53, 53);
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
}

.textoEspecialidad{
    font-size: 21px;
    font-weight: bold;
}

.contenedorHorarios{
    width: 300px;
    height: 370px;
    position:absolute;
    left:70%;
    top:50%;
    background-color:rgba(23, 96, 138, 0.842);
    border-width: 3px;
    border-color: rgb(0, 0, 0);
    border-style:ridge;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
}

.horario{
    height: auto;
    color:rgb(0, 0, 0);
    text-align: center;
    position: relative;
    border-width: 4px;
    border-style:outset;
    width: 20%;
    min-height: 30px;

    border-color: rgb(158, 53, 53);
    background-color: white;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 10px 10px;
}

.tituloHorarios{
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.botonAceptar{
    position: relative;
    background-color: rgb(121, 21, 21);
    border-radius: 5%;
    border-style: none;
    color:white;
    width: 100px;
    height: 40px;
    text-align: center;
}

.botonAceptar:hover{
    border-width: 2px;
    border-style:solid;
    border-color: rgb(187, 171, 29);
}

.desdeHastaTexto{
    color: rgb(185, 105, 105);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}


